.about__metrics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 780px) {
  .about__metrics {
    flex-direction: row;
  }
}
