.about__title {
  margin: 0;
  font-size: 200px;
  font-weight: 600;
  line-height: 170px;
}

@media (max-width: 900px) {
  .about__title {
    font-size: 120px;
    line-height: 100px;
  }
}
@media (max-width: 450px) {
  .about__title {
    font-size: 90px;
    line-height: 90px;
  }
}
